// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  border-radius: $radius;
  background: transparent;
  border: 2px solid white;
  font-family: Arial;
  color: black;
}
