<!DOCTYPE html>
<html>
 <head>
  <title>bestestRest ...aurants!</title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>

		<div class="header-main headers">
				<h3>bestestRest ...aurants!</h3>
        <a href="/">home page</a>
		</div>
    <video autoplay poster="/img/343379421.mp4" id="bgvid">
      <source src="/img/343379421.mp4" type="video/mp4">
    </video>
    #parse( $template )


 </body>
</html>
