<!DOCTYPE html>
<html>
 <head>
  <title>bestestRest ...aurants!</title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>

		<div class="header-main headers">
				<h3>bestestRest ...aurants!</h3>
		</div>
    #parse( $template )

 </body>
</html>
